section.playFair{
  background-color: #09d3ac;
  border-radius: 2rem;

  h1.text-center {
    display: flex;
    justify-content: center;
    font-family: "BankGothic Md BT", sans-serif;
    font-size: 3rem;
  }
  main.container{
    display: flex;
    justify-content: center;
    padding-bottom: 1.5rem;
  }
  label {
    font-family: "BankGothic Md BT", sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    font-size: 1.5rem;
  }
  input {
    font-family: "BankGothic Md BT", sans-serif;
    border-radius: 1rem;
    font-size: 1rem;
    text-align: center;
    line-height:4rem ;

  }
  button {
    font-family: "BankGothic Md BT", sans-serif;
    width: 6rem;
    line-height:2rem;
    display: flex;
    justify-content: center;
    border-radius: 0.4rem;
    border: 0.2rem solid dimgray;
  }
  div.firstButton{
    padding-top: 0.5rem;
    display: flex;
    justify-content: center;
  }
  div.secondButton{
    display: flex;
    justify-content: center;
  }
}
div.progress{
  height: 1.2rem;
  width: 7rem;
  border: 0.1rem solid gray;
  font-family: "BankGothic Md BT", sans-serif;
}