.App-header {
  background-color:#09d3ac ;
  min-height: 15vh;
  display: flex;
  padding-left: 7rem;
  align-items: center;
  justify-content: flex-start;
  color: #282c34;
  p{
    font-family: "BankGothic Lt BT";
    padding-bottom: .9rem;
  }
}




